/* --------- Buttons ---------- */

.call-to-action {
    padding: 35px 0 35px 0;
}

/*Style*/

.button {
    font-size: 16px;
    margin: 35px 0;
    padding: 11px 16px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
    display: inline-block;
    border-width: 3px;
    border-style: solid;
}

/* Play Button */

#video-section {
    position: relative;
}

.play-video {
    height: 110px;
    position: absolute;
    top: 50%;
    margin-top: -110px;
    width: 100%;
}

.play-icon {
    display: inline-block;
    font-size: 0;
    cursor: pointer;
    margin: 45px auto;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.play-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.play-icon:before {
    font-family: 'fontawesome';
    content: '\f144';
    speak: none;
    font-size: 74px;
    line-height: 110px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
    color: #fff;
}

.play-video .play-icon {
    background: rgba(255, 255, 255, 0.5);
    -webkit-transition: -webkit-transform ease-out 0.3s, background 0.4s;
    -moz-transition: -moz-transform ease-out 0.3s, background 0.4s;
    transition: transform ease-out 0.3s, background 0.4s;
}

.play-video .play-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.play-video .play-icon:hover {
    background: rgba(255, 255, 255, 0.05);
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #fff;
}

.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.8rem 1rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        font-size: $font-size-base;

        //change for the <button> element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        //box-shadow: $default-box-shadow;
        box-shadow: $box-shadow-lg;

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        transform: translateY(-1px);
        box-shadow: $box-shadow-lg;
        outline: none;
    }

    &::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--white {
        background-color: $white;
        //color: $color-grey-dark-2;
        color: $gray-100;

        &:hover {
            color: black;
        }

        &::after {
            background-color: $white;
        }
    }

    &--blue {
        background-color: $background-lighter-grey;
        color: $white;

        &::after {
            background-color: nb-theme(color-fg-highlight);
        }
    }

    &--animated {
        animation: moveInButton 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $font-size-base;
        color: nb-theme(color-fg);
        display: inline-block;
        text-decoration: none;
        border-bottom: 0.1rem solid nb-theme(color-fg);
        padding: 0.3rem;
        transition: all 0.2s;
    }

    &:hover {
        background-color: nb-theme(color-fg);
        color: nb-theme(theme-color-level());
        box-shadow: $box-shadow-lg;
        transform: translateY(-0.2rem);
    }

    &:active {
        box-shadow: $box-shadow-lg;
        transform: translateY(0);
    }
}
