/*------------------------------------------------------------------------------------------*/
/* Responsive Elements */
/*------------------------------------------------------------------------------------------*/

/* =Media Queries for Nav
===============================*/
@media all and (max-width: 1024px) {
    #nav-trigger {
        display: block;
    }

    nav#nav-main {
        display: none;
        font-size: 18px;
    }

    nav#nav-mobile {
        display: block;
    }

    nav#nav-mobile li {
        display: block;
    }

    #header aside {
        display: none;
    }
}

/* Landscape mobile & down
===============================*/
@media (max-width: 480px) {
    #wrapper {
        margin: 0;
        padding: 0;
    }

    .page-border,
    #scrollUp,
    #scrollUp:before {
        display: none;
    }

    .row {
        padding: 15px !important;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12,
    .col-2-3,
    .col-3-4,
    .col-9-10,
    .col-61,
    .col-38,
    .row {
        width: 100%;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12,
    .col-2-3,
    .col-3-4,
    .col-9-10,
    .col-61,
    .col-38 {
        padding-right: 0;
        padding-left: 0;
    }

    /*-----------------Header Elements-----------------*/
    #header .row {
        padding: 0 15px !important;
    }

    #header.nav-solid [class*='col-'] {
        padding: 0;
    }

    /*Logo*/
    #logo h2 {
        padding: 0;
    }

    /* Social */
    #header aside {
        clear: both;
        padding: 0;
    }

    #header ul.social-icons {
        margin-top: 0;
    }

    #banner-content.row {
        padding-top: 85px !important;
    }

    /*-----------------Sections-----------------*/

    /* Call to Action*/
    .call-to-action {
        padding-bottom: 25px;
    }

    /* Video */
    .slvj-lightbox iframe,
    .slvj-lightbox object,
    .slvj-lightbox embed {
        height: 270px !important;
    }

    /* Footer */
    #landing-footer #copyright {
        float: left;
        width: 50%;
    }

    #landing-footer .social-icons {
        float: right;
        width: 50%;
    }

    /*-----------------Typography-----------------*/
    h1 {
        font-size: 38px;
    }

    #banner h1 {
        font-size: 48px;
    }

    /* Hide Elements */
    a#scrollUp {
        display: none !important;
    }
}

/* Mobile to Tablet Portrait
===============================*/
@media (min-width: 480px) and (max-width: 767px) {
    #wrapper {
        margin: 0;
        padding: 0;
    }

    .page-border,
    #scrollUp,
    #scrollUp:before {
        display: none;
    }

    .row {
        padding: 15px 0 !important;
    }

    .col-1,
    .col-2,
    .col-5,
    .col-7,
    .col-9,
    .col-11,
    .col-2-3,
    .col-3-4,
    .col-61,
    .col-38,
    .row {
        width: 100%;
    }

    .col-3,
    .col-4,
    .col-6,
    .col-8,
    .col-10,
    .col-12 {
        width: 50%;
    }

    /*-----------------Header Elements-----------------*/
    #header .row {
        padding: 0 !important;
    }

    #header aside {
        display: inline-block;
        position: absolute;
        top: 40px;
        right: 60px;
        padding-top: 3px;
        padding-right: 5px;
    }

    #header.nav-solid aside {
        top: 20px;
    }

    #header aside ul {
        margin-top: 0 !important;
        padding-top: 6px;
    }

    #banner-content.row {
        padding-top: 85px !important;
    }

    /*Navigation*/
    nav#nav-mobile ul {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /*-----------------Sections-----------------*/

    /* Video */
    .slvj-lightbox iframe,
    .slvj-lightbox object,
    .slvj-lightbox embed {
        height: 370px !important;
    }

    /* Footer */
    #landing-footer #copyright {
        float: left;
        width: 50%;
    }

    #landing-footer .social-icons {
        float: right;
        width: 50%;
    }
}

/* Landscape Tablet to Desktop
===============================*/
@media (min-width: 768px) and (max-width: 1024px) {
    #wrapper {
        margin: 0;
        padding: 0;
    }

    .page-border {
        display: none;
    }

    .big-padding-top {
        padding-top: 45px !important;
    }

    /*-----------------Header Elements-----------------*/
    #header aside {
        display: inline-block;
        position: absolute;
        top: 40px;
        right: 60px;
        padding-top: 3px;
        padding-right: 5px;
    }

    #header.nav-solid aside {
        top: 20px;
    }

    #header aside ul {
        margin-top: 0 !important;
        padding-top: 6px;
    }

    /*Navigation*/
    nav#nav-mobile ul {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /*-----------------Sections-----------------*/

    /* Video */
    .slvj-lightbox iframe,
    .slvj-lightbox object,
    .slvj-lightbox embed {
        height: 432px !important;
    }

    @include nb-install-component() {
        nb-layout-column.small {
            flex: 0.15 !important;
        }

        nb-sidebar.settings-sidebar {
            $sidebar-width: 7.5rem;

            transition: width 0.3s ease;
            width: $sidebar-width;
            overflow: hidden;

            &.collapsed {
                width: 0;

                /deep/ .main-container {
                    width: 0;

                    .scrollable {
                        width: $sidebar-width;
                        padding: 1.25rem;
                    }
                }
            }

            /deep/ .main-container {
                width: $sidebar-width;
                background: nb-theme(color-bg);
                transition: width 0.3s ease;
                overflow: hidden;

                .scrollable {
                    width: $sidebar-width;
                }

                @include nb-for-theme(corporate) {
                    background: nb-theme(layout-bg);
                }
            }
        }

        nb-sidebar.menu-sidebar {
            margin-top: nb-theme(sidebar-header-gap);

            /deep/ .main-container {
                height: calc(#{nb-theme(sidebar-height)} - #{nb-theme(header-height)} - #{nb-theme(sidebar-header-gap)}) !important;
                border-top-right-radius: nb-theme(radius);
            }

            /deep/ nb-sidebar-header {
                padding-bottom: 0.5rem;
                text-align: center;
            }

            background: transparent;

            .main-btn {
                padding: 0.75rem 2.5rem;
                margin-top: -2rem;
                font-weight: bold;
                transition: padding 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.48);

                i {
                    font-size: 2rem;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                }
                span {
                    padding-left: 0.25rem;
                }

                i,
                span {
                    vertical-align: middle;
                }
            }

            &.compacted {
                /deep/ nb-sidebar-header {
                    padding-left: 0;
                    padding-right: 0;
                }

                .main-btn {
                    width: 46px;
                    height: 44px;
                    padding: 0.375rem;
                    border-radius: 5px;
                    transition: none;

                    span {
                        display: none;
                    }
                }
            }
        }

        @include media-breakpoint-down(xs) {
            .main-content {
                padding: 0.75rem !important;
            }
        }

        @include media-breakpoint-down(sm) {
            nb-sidebar.menu-sidebar {
                margin-top: 0;

                /deep/ .main-container {
                    height: calc(#{nb-theme(sidebar-height)} - #{nb-theme(header-height)}) !important;
                    border-top-right-radius: 0;

                    .scrollable {
                        padding-top: 0;
                    }
                }
            }

            .main-btn {
                display: none;
            }
        }
    }
}
